table {
    width: 800px;
    margin: 0 0 0 40px;
  }
.main {
  width: 800px;
  display: flex;
  justify-content: space-between;
  margin: 15px 0 0 40px;
}
.search-items {
  display: flex;
}
.search-select {
  padding-left: 15px;
}
.all-content {
  display: none;
}
.spinner {
  position: absolute;
        top: 20%;
        left: 50%;
}

/* @keyframes show_popup {
  0% {
    transform: translateX(100%);
  }
} */