<mat-spinner class="spinner" 
[style.display]="isLoad? 'none' :'absolute'">
</mat-spinner>
<h2>{{title}}</h2>
<form [formGroup]="myForm" [ngClass]="isLoad ? 'null' : 'all-content'">
    <div class="main">
        <mat-form-field class="example-full-width">
            <mat-label>First name</mat-label>
            <input matInput type="text"  formControlName="firstName" required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Second name</mat-label>
            <input matInput type="text" formControlName="lastName" required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email" required>
            <mat-error>'Please write correct email'</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Choose role</mat-label>
            <mat-select  (selectionChange)="onChange($event)" formControlName="role" name="role" required>
              <mat-option *ngFor="let rol of roles" [value]="rol.viewValue">
                {{rol.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="showMessage">
              Please select 
            </mat-error>
            <!-- <mat-hint *ngIf="showMessage">Can't create one more*</mat-hint> -->
          </mat-form-field>
    </div>
    <div class="item-panel">
    <button   [disabled]="myForm.invalid || showMessage"  type="submit" mat-button [mat-dialog-close]="user" (click)="onSubmit()">Confirm</button>
    <button mat-button (click)="onNoClick()">Cancel</button>
    </div>
</form>